:root {
    color-scheme: dark;
}

body,
html {
    background-color: #000;
    color: #fff;
}

.centered-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 0.25rem;
}
.centered-content > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
}
